{% extends 'base.html' %}

{% load static %}

{% block content %}

        <div class="container">
            <div class="card mb-3 mt-5 p-3">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src="{{produit.image_prod.url}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-5">
                        <div class="card-body px-3">
                            <h2 class="card-title" style="font-family: Georgia; font-size: 50px">{{produit.nom}}</h2>
                            <h5 class="fw-bold">{{produit.prix_promo}} GNF</h5>
                            <small class="text-decoration-line-through text-muted fs-5">
                                <del>{{produit.prix_normal}} GNF</del>
                            </small>
                            <br><br>
                            <h4>Caractéristiques du Produit</h4>
                            <ul class="fs-5" style="font-family: Rajdhani;">
                                <li>{{produit.caracteristique}}</li>
                                <li>{{produit.description}}</li>  
                            </ul>

                            <form action="" class="d-inline">
                                <input type="hidden" name="prod_id" value="5" />
                                <button type="submit" class="btn btn-primary shadow px-5 py-2">
                                    Ajouter Au Panier
                                </button>
                            </form>
                            <a href="" class="btn btn-warning shadow px-5 py-2 ms-4">Acheter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
{% endblock content %}